@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700");

.body,
html {
  background-color: #100e19;
  color: #fff;
  font-family: "Montserrat+Subrayada", 'sans-serif';
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 30px 30px;
}